<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    div{
        display: flex;
    }

    /*.aline div{*/
    /*    display: inline;*/
    /*}*/

    .body div{
        display: table-row;
    }

    .space{

    }
</style>
<body>
<p class="title">某某公司对账单</p>
<div class="header">
    <div class="aline">
        <div class="customer" style="width: 60%">编码：</div>
        <div class="salesman" style="width: 40%">业务员：</div>
    </div>
    <div class="aline">
        <div class="units">单位：</div>
    </div>
    <div class="aline">
        <div class="ys_balance">年初余额：</div>
        <div class="ms_balance">月初余额:</div>
        <div class="cs_balance">期末余额：</div>
    </div>
    <div class="aline">
        <div class="feed_units">饲料（金额：元 数量：吨）</div>
    </div>
    <div class="aline">
        <div class="rq">日期</div>
        <div class="djh">单据号</div>
        <div class="zy">摘要</div>
        <div class="sl">数量</div>
        <div class="ysje">应收金额</div>
        <div class="zke">折扣额</div>
        <div class="zwcz">债务重组</div>
    </div>
</div>

<div class="body" >
    <div class="rq">日期</div>
    <div class="djh">单据号</div>
    <div class="zy">摘要</div>
    <div class="sl">数量</div>
    <div class="ysje">应收金额</div>
    <div class="zke">折扣额</div>
    <div class="zwcz">债务重组</div>

        <div class="rq"></div>
        <div class="djh"></div>
        <div class="zy"></div>
        <div class="sl"></div>
        <div class="ysje"></div>
        <div class="zke"></div>
        <div class="zwcz"></div>

</div>



</body>
</html>